  .CreatePost-AllPosts,
  .content-post{
    position: relative;
  }
  /* espacer la navigation et mes posts */
  .CreatePost-AllPosts,
  .content-post{
    top: 110px;
  }
  /* css pour une carte post */
  .content-post {
    display: flex;
    box-shadow: 1px 1px 15px #33cbe5;
    margin: 50px auto;
    padding: 20px 20px 5px 30px;
    /* box-shadow: 0 2px 10px rgb(0 0 0 / 20%); */
    border-radius: 8px;
    width: 60%;
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(0 0 0 / 30%) 0%, rgb(27 32 32 / 43%) 100%);
  }
  .display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .display-block {
    display: flex;
  }
  .image-profil {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 1px 8px #cdcaca;
  }
  .username-post {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
  }
  .post-text {
    line-height: 1.5;
    margin-top: 10px;
  }
  /* boutons like, commentaires et modifié */
  .buttons-like-comments {
    padding-top: 20px;
  }
  .icon-like{
    padding-right: 20px!important;
  }
  .icons {
    font-size: 25px;
    padding: 7px;
    border: none;
    background-color: transparent;
    color: #fff;
    transition: 0.2s;
  }
  .icons:hover,
  .icons:active {
    cursor: pointer;
    color: #33cbe5;
  }
  /* bouton "modifié", ainsi que "supprimer" de la page post (avec l'id spécifié) */
  .deleteEditButton,
  .editButton{
      display: flex;
      justify-content: flex-end;
      padding-bottom: 10px;
      font-size: 20px;
     
  }
  .deleteEditButton button,
  .editButton button
  {
      background-color: transparent;
      font-size: 20px;
      cursor: pointer;
      color: rgb(235, 235, 235);
      transition: .2s;
      border: none;
      padding: 0 10px;
  }
  .deleteEditButton button:first-child:hover{
    color: rgb(177, 22, 22);
  }

  .editButton button:hover,
  .deleteEditButton button:nth-child(2):hover{
    color: grey;
  }
  /* des réglages pour changement de style de notre post (mettre les commentaire sur le coté droit  */
  .left-post{
    width: 50%;
    overflow: hidden;
  }
  .commentaires{
    padding-left: 50px;
    width: 50%;
  }
  .list-of-comments{
    overflow: scroll;
    height: 300px;
    padding: 8px;
    box-shadow: 0px 2px 0px #ffffff3b;
  }
  
  /****************    deuxiéme partie pour la page Post.js  (commentaire)    *****************/
  .div-add-comment{
    display: flex;
    align-items: center;
  }
  .image-profil-comment{
      width: 60px;
      height: 82px;
      border-radius: 50%;
      object-fit: cover;
      padding: 20px 8px 20px 8px;
  }
  .input-add-comment{
    font-size: 16px;
      width: 100%;
      padding: 8px 50px 8px 8px;
      outline: none;
      border: none;
      border-radius: 20px;
      background-color: #293946;
      color: #fff;
      box-shadow: 5px 4px 10px #00000063, -1px -1px 3px #cbcbcb87;
  }
  .send-comment{
    display: flex;
    position: relative;
    right: 39px;
    background-color: transparent;
    font-size: 22px;
    color: #33cbe5;
    border: none;
    cursor: pointer;
  }
  /*********** Commentaires déja affiché  ***********/
  .All-comments{
    color: black;
    background-color: #edebeb;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #ffffff;
    padding: 7px 15px;
    margin-bottom: 35px;
  }
  /* button supprimé comment */
  .display-username-buttonDelete{
    display: flex;
    justify-content: space-between;
  }
  .delete-comment{
    border: none;
    background: transparent;
    color: red;
    font-weight: bolder;
    font-size: 11px;
    cursor: pointer;
}
  
  
  
  
  
  /**************  Animation background  ****************/

/* .box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
} */

  
  