* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .card {
    width: 450px;
    border-radius: 10px;
    background: rgb(255 255 255 / 5%);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  .img-bx img{
    height: 200px;
    margin: 32px 0;
    border-radius: 8px;
  }
  .detail{
    padding: 0 25px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px #3c3c3c;
  }
  .detail,
  .disabled-input,
  .card,
  .container-profil{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bio-profil{
    padding-bottom: 20px;
  }
  .disabled-input input {
    width: 60%;
    padding: 8px;
    font-size: 18px;
    color: #f7f7f7;
    background: #00000030;
    margin-bottom: 24px;
  }
  /* postsOfUser */
  .postsOfUser{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
  .postUser{
    width: 60%;
    margin : 0;
    margin-bottom: 50px;
  }

  /* button modifié password show and hide */
  .editPassword{
    text-align: center;
  }
  .buttonsProfil {
    padding: 6px 15px;
    margin-bottom: 30px;
    background: linear-gradient( 217deg, rgb(32 22 22 / 80%), rgba(255,0,0,0) 70.71%), 
    linear-gradient( 127deg, #16485e, rgba(0,255,0,0) 70.71%), 
    linear-gradient( 336deg, rgb(49 177 215), rgba(0,0,255,0) 70.71%);
    color: #e9e9e9;
    border: 1px solid #00968885;
    transition: 200ms;
    cursor: pointer;
  }
  .buttonsProfil:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.815);
    background: #00000078!important;
  }






  /****   mettre le header en position normal    ****/
  .header-profilPage .header{
    position: static;
  }
  .header-profilPage{
    width: 100%;
  }

  



  /* responsive*/
  @media screen and (max-width: 950px ){
    .accueil-content-post,
    .content-post{
      width: 90%;
    }
    .formulaire-post{
      width: 80%;
    }
    .content-post{
      display: block;
    }
    .left-post,
    .commentaires{
      width: 100%;
      padding: 0;
    }
  }